<#include "base.html">

<#macro title>
    User ${user.name}
</#macro>

<#macro content>
    <h1>${user.id}. ${user.name}</h1>
    <span>login: ${user.login}</span> <br/>
    <span>age: ${user.age}</span> <br/>
    <span>address: ${user.address}</span> <br/>
    <span>phones:</span> <br/>
    <ul>
        <#list user.phones as phone>
            <li>${phone}</li>
        </#list>
    </ul>
</#macro>

<#macro menu>
    <a href="">Find new user</a> <br/>
    <a href="../../admin">Main menu</a><br/>
</#macro>


<@display_page/>