<#include "base.html">


<#macro title>
    Admin
</#macro>

<#macro content>
    <#if isLogin == true>
        <#if isHavePermission == true>
            <ul>
                <li>
                    <a href="<@site_home_dir/>/admin/users/add">Add User</a>
                </li>
                <li>
                    <a href="<@site_home_dir/>/admin/users/get_by_id">Get user by Id</a>
                </li>
                <li>
                    <a href="<@site_home_dir/>/admin/users/count">Get count users</a>
                </li>
                <li>
                    <a href="<@site_home_dir/>/admin/users">View all users</a>
                </li>
            </ul>
        <#else>
            <h1>Sorry, you don't have permission!</h1>
            <a href="<@site_home_dir/>/admin/login">login</a>
        </#if>

    <#else>
        <h1>Please login.</h1>
        <a href="<@site_home_dir/>/admin/login">login</a>
    </#if>
</#macro>

<#macro menu>
</#macro>

<@display_page/>

